/* Fonts  */

@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Quicksand:wght@400;500&display=swap');
/* font-family: 'Charm', cursive;
font-family: 'Quicksand', sans-serif; */


/* Colors  */

/* neon-green: #1cff6f  */
/* neon-blue: #75FBFD  */



/* css variables in html:root element  */

:root {
    --font-quicksand: 'Quicksand', sans-serif;
    --font-charm: 'Charm', cursive;
    --color-neon-blue: #75FBFD;
    --color-neon-green: #1cff6f;

    /* hero-images  */
    --hero-blue: url(/img/hero/hero/hero-blue.png);
    --hero-green: url(/img/hero/hero/hero-green.png);
    --hero-red: url(/img/hero/hero/hero-red.png);
    --hero-blue2: url(/img/hero/hero/hero-blue2.png);
    --hero-green2: url(/img/hero/hero/hero-green2.png);
    --hero-red2: url(/img/hero/hero/hero-red2.png);
    --hero-blue3: url(/img/hero/hero/hero-blue3.png);
    --hero-green3: url(/img/hero/hero/hero-green3.png);   
}

html::-webkit-scrollbar {
    width: 1vw;
}
html::-webkit-scrollbar-track {
    background-color:rgba(50, 50, 50, 0.8);
}
html::-webkit-scrollbar-thumb {
    background-color: rgba(75, 251, 253, 0.4);
    border-radius: 0.1em;
}
html::-webkit-scrollbar-thumb:hover {
    background-color: rgba(75, 251, 253, 0.7);
}




/* mobile-screen : width < 700px;  */

* {
    box-sizing: border-box;
}


body {
    background-color: black;
    margin: 0 0;
}

/* Header and Navbar */

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(15, 15, 15, 0.9);
    z-index: 999;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #75FBFD77;
}

.logo {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.logo-img {
    width: 3rem;
    height: 2rem;
}

.hamburger-btn {
    /* display: none; */
    /* display: "inline-block"; */
    align-items: center;
    padding: 0;
    border: none;
    margin-top: -0.4rem;
    margin-right: 1rem;
    background: none;
    justify-self: flex-end;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.15em;
}

.hamburger-btn:hover {
    border: 1px solid white;
    border-radius: 0.2em;
}


.ham-line {
    width: 1.5rem;
    height: 0.2rem;
    margin-bottom: 0.3rem;
    background-color: white;
    border-radius: 0.5em;
}
.ham-line:last-child {
    margin-bottom: 0px;
}

.x-btn {
    /* display: inline-block; */
    display: none;
    color: white;
    align-items: center;
    padding: 0;
    border: none;
    margin-top: -0.4rem;
    margin-right: 1rem;
    background: none;
    justify-self: flex-end;
}

.x-span {
    /* width: 1.5rem; */
    /* height: 1.2rem; */
    /* padding: 0.15em; */
    /* align-items: center; */
    /* justify-content: center; */
    /* margin-top: 10rem; */
}

.x-span > img {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.15em;
}

.x-span > img:hover {
    border: 1px solid white;
    border-radius: 0.2em;
    margin-top: 0.5em;
}

.nav-links {
    width: 100%;
    background-color: rgba(15, 15, 15, 0);
}

.flex-links-container {
    margin-left: -1.4rem;
    margin-top: -1rem;
    /* display: none; */
    display: flex;
    justify-content: flex-start;
}

.flex-links-container > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sec-links a {
    padding: unset;
    font-family: var(--font-quicksand);
    text-decoration: none;
    text-shadow: 5px 5px 5px #75FBFDdd;
    color: var(--color-neon-blue, white);
    font-size: 2rem;
    margin-bottom: 5em;
}

.sec-links a:hover {
    background-color: rgba(50, 50, 50, 0.9);
    padding: 0em 0.2em;
    border: 0.1px solid var(--color-neon-blue);
    border-radius: 0.3em;
}

/* Main  */

.content {
    width: 100%;
    min-height: 100vh;
    background: black;
    color: white;
}

.sec-fill {
    width: 100%;
    height: 45.600px;
    background: black;
}


.hero-flex-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    /* padding: 3vh 3vw; */
    justify-items: center;
    align-items: center;
    width: 80%;
    margin: 0 10%;
}

.photo-flex-item:last-child {
    margin-top: 5%;
    width: 60%;
    height: 60vh;
 }

 .photo-flex-item:first-child {
    margin-top: -10%;
    width: 100%;
    height: 50%;
 }

.intro-img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    animation: slide 40s infinite;
}

@keyframes slide {
    0%, 100% {
        /* background: url(/img/hero/hero/hero-blue.png); */
        background: var(--hero-blue);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 45%;
    }
    12.5% {
        /* background: url(/img/hero/hero/hero-green.png); */
        background: var(--hero-green);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 45%;
    }
    25% {
        /* background: url(/img/hero/hero/hero-red.png); */
        background: var(--hero-red);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 45%;
    }
    37.5% {
        /* background: url(/img/hero/hero/hero-blue2.png); */
        background: var(--hero-blue2);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 45%;
    }
    50% {
        /* background: url(/img/hero/hero/hero-green2.png); */
        background: var(--hero-green2);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 45%;
    }
    62.5% {
        /* background: url(/img/hero/hero/hero-red2.png); */
        background: var(--hero-red2);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 45%;
    }
    75% {
        /* background: url(/img/hero/hero/hero-blue3.png); */
        background: var(--hero-blue3);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 45%;
    }
    87.5% {
        /* background: url(/img/hero/hero/hero-green3.png); */
        background: var(--hero-green3);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 45%;
    }
}

.intro-flex-item {
    min-width: 70%;
    min-height: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-name, .text-effect-text {
    font-family: var(--font-charm);
    color: var(--color-neon-green);
    font-weight: 1000;
    font-size: 9vw;
    text-shadow: 5px 5px 15px #1cff6fff;
    margin-bottom: 1vh;
    transition: text-shadow 500ms ease-in-out;
}

.intro-name:hover {
    text-shadow: 10px 10px 10px #1cff6fff;
}

.intro-about {
    margin: 0;
    min-width: 50vw;
    height: 40px;
    overflow-y: hidden;
    position: relative;
    margin-top: 1vh;
}

.intro-about .text-container {
    width: 100%;
    text-align: center;
    position: absolute;
    animation-name: textmove;
    animation-duration: 10000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes textmove {

    0%, 100% {
        top: 100%;
    }
    70% {
        top: -500%;
    }   
}

.text-container .about-texts {
    font-family: var(--font-charm);
    color: var(--color-neon-green);
    margin: auto;
    font-size: 6vw;
    font-weight: 500;
    text-shadow: 5px 5px 15px #1cff6fff;
}

.text-container .about-texts:hover {
    text-shadow: 10px 10px 10px #1cff6fff;
}

/* Section Headers  */
.section-header {
    margin: 0;
    text-align: center;
    font-family: var(--font-charm);
    color: var(--color-neon-green);
    font-size: 5vw;
    font-weight: bolder;
    text-shadow: 5px 5px 15px #1cff6fff; 
    transition: text-shadow 500ms ease-in-out;
}

.section-header:hover, .section-header:focus {
    text-shadow: 10px 10px 10px #1cff6fff;
}


/* Footer  */
footer {
    width: 100%;
    height: 2rem;
    background-color: #303030;
    border-top: 1px solid white;
}


/* mobile screen: width < 350px  */
@media (max-width: 400px) {

    .intro-name {
        margin-top: -0.5em;
    }
    .intro-about {
        margin-top: 0;
    }

}


/* wider screens: width > 700px  */
@media (min-width: 700px) {
    
    .x-span, .hamburger {
        display: none;
    }

    .nav-links {
        width: unset;
        align-items: center;
        margin-top: 0.8rem;
    }

    .flex-links-container > ul {
        flex-direction: row;
        justify-content: space-between;
    }
    .sec-links a {
        font-size: 1.2rem;
        margin-bottom: 0;
        margin-right: 1em;
        border: 0;
        border-bottom: 0px;
    }

    .sec-links a:hover, .sec-links a:focus {
        background-color: #75FBFD33;
        padding: 0.2rem;
        border: 0;
        border-radius: 1em 0.1em;
        border-bottom: 1px solid var(--color-neon-blue);
        border-right: 1px solid var(--color-neon-blue);
    }

    .sec-fill {
        height: 54.400px;
    }

    .hero-flex-container {
        justify-self: center;
        flex-direction: row;
        width: 90%;
        margin: 5% 5%;
        margin-top: 0;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 2 1;
    }

    .intro-flex-item {
        min-width: 45%;
        width: 20%;
    }

    .photo-flex-item {
        min-width: 60%;
        min-height: 70vh;
        transform: translatey(-2%);

    }

    .intro-img {
        width: 100%;
    }

    .intro-name {
        font-weight: 500;
        font-size: 5vw;
    }

    .intro-about {
        font-size: 3vw;
        min-width: 35vw;
        height: 6vh;
        margin-top: 5vh;
    }

    .intro-about .text-container {
        animation-name: textmove2;
        animation-duration: 10000ms;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
    }
    
    @keyframes textmove2 {
    
        0%, 100% {
            top: 80%;
        }
        70% {
            top: -700%;
        }   
    }

    .text-container .about-texts {
        font-size: 3.5vw;
    }


}