/* Fonts  */

@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Quicksand:wght@400;500&display=swap');
/* font-family: 'Charm', cursive;
font-family: 'Quicksand', sans-serif; */


/* Colors  */

/* neon-green: #1cff6f  */
/* neon-blue: #75FBFD  */



/* css variables in html:root element  */

:root {
    --font-quicksand: 'Quicksand', sans-serif;
    --color-neon-blue: #75FBFD;
}

html::-webkit-scrollbar {
    width: 1vw;
}
html::-webkit-scrollbar-track {
    background-color:rgba(50, 50, 50, 0.8);
}
html::-webkit-scrollbar-thumb {
    background-color: rgba(75, 251, 253, 0.4);
    border-radius: 0.1em;
}
html::-webkit-scrollbar-thumb:hover {
    background-color: rgba(75, 251, 253, 0.7);
}




/* mobile-screen : width < 700px;  */

* {
    box-sizing: border-box;
}


body {
    background-color: black;
    margin: 0 0;
}

/* Header and Navbar */

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(15, 15, 15, 0.9);
    z-index: 999;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid grey;

}

.logo {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.logo-img {
    width: 3rem;
    height: 2rem;
}

.hamburger-btn {
    /* display: none; */
    /* display: "inline-block"; */
    align-items: center;
    padding: 0;
    border: none;
    margin-top: -0.4rem;
    margin-right: 1rem;
    background: none;
    justify-self: flex-end;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.15em;
}

.hamburger-btn:hover {
    border: 1px solid white;
    border-radius: 0.2em;
}


.ham-line {
    width: 1.5rem;
    height: 0.2rem;
    margin-bottom: 0.3rem;
    background-color: white;
    border-radius: 0.5em;
}
.ham-line:last-child {
    margin-bottom: 0px;
}

.x-btn {
    /* display: inline-block; */
    display: none;
    color: white;
    align-items: center;
    padding: 0;
    border: none;
    margin-top: -0.4rem;
    margin-right: 1rem;
    background: none;
    justify-self: flex-end;
}

.x-span {
    /* width: 1.5rem; */
    /* height: 1.2rem; */
    /* padding: 0.15em; */
    /* align-items: center; */
    /* justify-content: center; */
    /* margin-top: 10rem; */
}

.x-span > img {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.15em;
}

.x-span > img:hover {
    border: 1px solid white;
    border-radius: 0.2em;
    margin-top: 0.5em;
}



.nav-links {
    width: 100%;
    background-color: rgba(15, 15, 15, 0);
}

.flex-links-container {
    margin-left: -1.4rem;
    margin-top: -1rem;
    display: none;
    /* display: flex; */
    justify-content: flex-start;
}

.flex-links-container > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sec-links a {
    font-family: var(--font-quicksand);
    text-decoration: none;
    color: var(--color-neon-blue, white);
    font-size: 2rem;
    margin-bottom: 5em;
}

.sec-links a:hover {
    background-color: rgba(50, 50, 50, 0.9);
    padding: 0.001em 0.2em;
    border: 0.1px solid white;
    border-radius: 0.3em;
}

/* Main  */

.content {
    width: 100%;
    min-height: 100vh;
    background: black;
    color: white;
}

.sec-fill {
    width: 100%;
    height: 45.600px;
    background: black;
}


p {
    color: white;
    font-size: 3rem;
}

/* Footer  */
footer {
    width: 100%;
    height: 2rem;
    background-color: #303030;
    border-top: 1px solid white;
}


/* wider screens: width > 700px  */


@media (min-width: 700px) {
    
    .x-span, .hamburger {
        display: none;
    }

    .nav-links {
        width: unset;
        align-items: center;
        margin-top: 0.8rem;
    }

    .flex-links-container > ul {
        flex-direction: row;
        justify-content: space-between;
        /* align-items: center; */
    }
    .sec-links a {
        font-size: 1.2rem;
        margin-bottom: 0;
        margin-right: 1em;
        border: 0;
        border-bottom: 0px;
    }

    .sec-links a:hover {
        background-color: black;
        padding: 0;
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid var(--color-neon-blue);
        /* animation-name: hover-border;
        animation-duration: 1s; */
    }

    .sec-fill {
        height: 54.400px;
    }
}